.seller-body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: visible; /* 🔥 VERY IMPORTANT */
}

.seller-content {
  flex: 1;
  padding: 20px;
   /* background: #ffff; */
  background: linear-gradient(135deg, #f7faff, #eef3ff);
  position: relative;
  z-index: 1;
}
