.reports-title{
  font-size:24px;
  margin-bottom:30px;
  color:#111827;
}

.reports-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
  margin-bottom:60px;
}

.report-card{
  background:white;
  border-radius:14px;
  padding:20px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
  transition:0.3s;
}


.report-card:hover{
  transform:translateY(-5px);
}

.report-icon{
  font-size:30px;
  margin-bottom:10px;
}

.users{
  color:#6366f1;
}

.listings{
  color:#06b6d4;
}

.revenue{
  color:#10b981;
}

.growth{
  color:#f59e0b;
}

.report-card h3{
  font-size:16px;
  margin-bottom:5px;
}

.report-card p{
  font-size:18px;
  font-weight:600;
  color: #53565d;
}

.reports-section{
  background: linear-gradient(135deg,#f6c1cc,#d6dde8);
  padding:30px;
  border-radius:18px;
  box-shadow:0 15px 35px rgba(0,0,0,0.1);
  animation:fadeIn 0.8s ease;
}

.performance-title{
  font-size:22px;
  margin-bottom:25px;
  color:#111827;
  font-weight:600;
}

/* GRID */

.performance-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
}

/* CARD */

.performance-card{
  background:white;
  padding:20px;
  border-radius:14px;
  text-align:center;
  transition:all 0.35s ease;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
  position:relative;
  overflow:hidden;
}

/* HOVER EFFECT */

.performance-card:hover{
  transform:translateY(-8px) scale(1.03);
  box-shadow:0 20px 35px rgba(0,0,0,0.15);
}

/* ICON */

.perf-icon{
  font-size:32px;
  margin-bottom:12px;
  animation:float 3s ease-in-out infinite;
}

/* COLORS */

.user{
  color:#6366f1;
}

.listing{
  color:#06b6d4;
}

.revenue{
  color:#10b981;
}

.growth{
  color:#f59e0b;
}

/* TEXT */

.performance-card h4{
  font-size:16px;
  margin-bottom:5px;
}

.performance-card p{
  font-size:14px;
  font-weight:600;
  color:#555;
}

/* FLOAT ANIMATION */

@keyframes float{
  0%{ transform:translateY(0px); }
  50%{ transform:translateY(-6px); }
  100%{ transform:translateY(0px); }
}

/* FADE IN */

@keyframes fadeIn{
  from{
    opacity:0;
    transform:translateY(20px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}