.sidebar {
  width: 240px;
  min-height: 100vh;
  background: linear-gradient(135deg, #c5cae9, #f7f9fc);
  color: #e5e7eb;
  padding: 20px;
  position: relative;
  z-index: 10;
  margin-right: 10px;
}


.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  margin-bottom: 12px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  color: #0f172a;
  transition: all 0.25s ease;
}

.sidebar-menu li:hover {
  background-color: #f1f5f9;
  color:#222;
}



